*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*********************************************************************************/
/*menu*/

.header1{
background-color: black;
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    list-style-type: none;
    gap: 1rem;
    flex-wrap: wrap;

}


.menuPa a{
color: aqua;
text-decoration: none;

}

.tituloPizza{
    text-align: center;
    font-size: 100px;
}

.cartita{
    background-color: black;
}
.p{
    color:black;
    font-weight: 700px;
    
}

.div-contenedor{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.img{
    width: 250px;
    height: 250px;
}

.bodyp{
    background-color: brown;
}
.cartita0{
    position: absolute;
}

.descuento{
    position: absolute;
    top: 0;
    right: 0;
    color: blue;
}

























/***************************************************/
/*footer*/
.bodyp-1{
    height: 100vh;
    width: 100%;
    position: relative;
    transition: 0.5s;
}

.footer1{
    width: 100%;
    position: relative;
    bottom: 0;  
    left: 0;
    padding:2rem 8%;
    background-color: #0e0e0e;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;


}
.footer-menu-container{
    gap: 1rem;
}


.social-icons-container, .footer-menu-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 1rem;
}

.social-icon{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid white;
    background-image:url(../imagenes.jpg/facebook.png) ;
    background-position: center ;
    background-size: 40%;
    background-repeat: no-repeat;
    margin: 1rem;

}

.social-icon:hover{
    background-color: #121212;
    filter: invert(1);
}
.social-icon:nth-last-of-type(2){
    background-image: url(../imagenes.jpg/github.png);
}

.social-icon:nth-last-of-type(3){
    background-image: url(../imagenes.jpg/instagram.png);
}

.social-icon:nth-last-of-type(4){
    background-image: url(../imagenes.jpg/logotipos.png);
}

.footer-menu-container{
    list-style-type: none;
    color: #f2f2f2;
    font-size: 10px;

}

.menu-item{
    margin: 1.5 rem;
    cursor: pointer;
    opacity: 0,6;
}

.menu-item:hover{
    opacity: 1;
}

.copyright{
    color: #f2f2f2;
    opacity: 0.3;
    text-align: center;
}


/**********************************************************/
/*pratica*/
.div1{
background-color: blue;
border: double;
margin: 10px;
padding: 10px;
height: 100px;
width: 400px;
overflow: auto;

}

/**************************************************************/
/*nuevo cliente*/

.form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}

.formulario{
    display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
   flex-direction: column;
   background-color: black;
   width: 500px;
   height: 500px;
}

.body12{
background-image: url(../imagenes.jpg/portada2.jpg);
background-repeat: no-repeat;
background-size: cover;
}

.registrate{
text-align: center;
font-size: 50px;
}

.nuevo-cliente{
text-align: center;
font-family: 800;
font-size: 100px;
font-style: italic;
position: static;

}

.registrate{
    text-align: center;
    text-decoration: underline;
    
}

.label1{
color: pink;
box-shadow: lightseagreen;

}


/********************************/
/*inicio*/


.grid1{
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr 1fr;
grid-template-areas: 
"inicio     producto"
"nuevo-contacto quienes-somos";
min-height: 100vh;
list-style-type:none;

}

.a{
    transition: 0,6;
}

.ini{
grid-area: inicio;
background-color: red;
background-image: url(../imagenes.jpg/portada.webp);
background-size: cover;
}

.pro{
grid-area: producto;
background-color: gray;
background-image: url(../imagenes.jpg/producto.jpg);
background-repeat: no-repeat;
background-size: contain;

}

.qui{
grid-area: quienes-somos;
background-color: white;
background-image: url(../imagenes.jpg/quienes\ somos.png);
background-repeat: no-repeat;
background-size: contain;
}

.nue{
grid-area: nuevo-contacto;
background-color:white;
background-image: url(../imagenes.jpg/contacto.png);
background-repeat: no-repeat;
background-size: contain;

}


/******************************/
/**quienes-somos*/
.divQuienes{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "dueño cajero"
    "cocinero cocinero";
}

.dueño{
    grid-area: dueño;
    background-color: black;
   display: flex;
   flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 300px;
    height: 200px;
    min-height: 100vh;
    margin-left: 200px;
    flex-wrap: wrap;
    
}
.cajero{
    grid-area: cajero;
    background-color: bisque;
   
   display: flex;
   flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 300px;
    min-height: 100vh;
    margin-left: 200px;
    flex-wrap: wrap;

    
}
.cocinero{
    grid-area: cocinero;
    background-color: aqua;
   display: flex;
   flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 300px;
    height: 200px;
    min-height: 100vh;
    margin-left: 200px;
    margin-left: 40%;
    flex-wrap: wrap;
    
}


.imagenQuienes{
width: 150px;
height: 120px ;
background-size: 100px;
background-size: contain;
max-width: 100vh;
}

.liQuienes{
display: flex;
flex-direction: row;
gap: 1rem   ;
}

.iconoos ,.fa-brands{
border-radius: 50%;
padding: 1rem;

}

.body1234{
    background-color: brown;
}

.h1Q{
    text-align: center;
    color: blue;
    font-size: 100px;
    
}

.h2Q{
    text-align: center;
    color: blueviolet;
    font-size: 50px;
}