.body-q{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    min-height: 100vh;
    background:  #333;
   
  }


.footer{
position: relative;
width: 100%;
background-color:  #3586ff;
min-height: 100px;
padding: 20px 50px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;

}
.socialIcons{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0  ;
    flex-wrap: wrap;

}
.footerNav ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0  ;
    flex-wrap: wrap;
}

.footerNav ul li{
    list-style-type: none;
}
.socialIcons i{
    font-size: 2em;
    color: black;
    margin: 0 10px;
    display: inline-block;
transition: 0.5s;
}

.footerNav ul li{
    font-size: 1.2em;
    color: white;
    margin: 0 10px;
    display: inline-block;
transition: 0.5s;
opacity: 0.7;
}
.footerNav ul li:hover{
    opacity: 1;
}

footer .socialIcons a:hover{
    transform: translateY(-10px);
}

.botom p{
    color: white;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.1em;

}

.designed{
    text-transform:uppercase;
}
