.bodyp-1{
    height: 100vh;
    width: 100%;
    position: relative;
    transition: 0.5s;
}

.footer1{
    width: 100%;
    position: relative;
    bottom: 0;  
    left: 0;
    padding:2rem 8%;
    background-color: #0e0e0e;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;}



.social-icons-container, .footer-menu-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 1rem;
}




.social-icon{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid white;
    background-image:url(/imagenes.jpg/facebook.png) ;
    background-position: center ;
    background-size: 40%;
    background-repeat: no-repeat;
    margin: 1rem;

}

.social-icon:hover{
    background-color: #121212;
    filter: invert(1);
}
.social-icon:nth-last-of-type(2){
    background-image: url(/imagenes.jpg/instagram.png);
}

.social-icon:nth-last-of-type(3){
    background-image: url(/imagenes.jpg/github.jpg);
}

.social-icon:nth-last-of-type(4){
   background-image: url(/imagenes.jpg/twitter1.jpg);
}

.footer-menu-container{
    gap: 1rem;
}




.footer-menu-container{
    list-style-type: none;
    color: #f2f2f2;
    font-size: 10px;

}

.menu-item{
    margin: 1.5 rem;
    cursor: pointer;
    opacity: 0,6;
}

.menu-item:hover{
    opacity: 1;
}

.copyright{
    color: #f2f2f2;
    opacity: 0.3;
    text-align: center;
}




